    <div class="navbar navbar-inverse navbar-fixed-top" >
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="">
            <img src="./img/logo.png" width="54px" height="40px"/>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="divider-vertical"></li>
              <li class="active"><a href="/#/admin">Administration</a></li>
              <li class="divider-vertical"></li>
              <li>
              <a href="/#/downloads">T&eacute;l&eacute;chargements </a>
              </li>
              <li class="divider-vertical"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin-top: 100px">
      <div ng-controller="adminDeamonCtrl">
	  <div class="row-fluid">
			<div class="span4">
				<form name="torrent">
					<h4>Client torrent's IP</h4>
					<label>Insert an IP address:</label>
					<input type="text" name="ip" ng-model="data.ip"/></li>
					<input ng-click="send()" class="btn btn-info" value="Save" />
				</form>
			</div>
			<div class="span4">
				<h4>Add User</h4>
				<form name="user" novalidate>
					<label>User:</label>
					<input type="text" ng-model="addUser.name" required />
					<label>Password:</label>
					<input type="password" ng-model="addUser.mdp" required />
					<button ng-click="add()" ng-disabled="user.$invalid || isUnchanged(addUser)" class="btn btn-info">Ajouter l'utilisateur</button>
				</form>
			</div>
			<div class="span4">
				<h4>Users list</h4>
				
				<div ng-repeat="user in data.users">
				<dl class="dl-horizontal">
				<dt>{{user}}</dt>
				<dd><button ng-click="suppr(user)" class="btn btn-danger">Delete </button>
				<button ng-click="change_mdp()" class="btn btn-info">Change password</button></dd>
				</dl>
				</div>
			</div>
        </div>
      </div>
    </div>