<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <script src="./angular.min.js"></script>
    <script src="./traitement.js" ></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <title>Web Client</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="btn-group btn-group-vertical">
                    <button type="button" class="btn" ng-click="filtre.status = ''"> 
                        Tout 
                    </button>
                    <button type="button" class="btn" ng-click="filtre.status = 'play'">
                        Telechargement en cours 
                    </button>
                    <button type="button" class="btn"  ng-click="filtre.status = 'send'"> 
                        Envoie en cours 
                    </button>
                    <button type="button" class="btn"  ng-click="filtre.status = 'pause'">
                        En pause
                    </button>
                    <button type="button" class="btn"  ng-click="filtre.status = 'stop'">
                        Areter
                    </button>
                </div>
            </div> 
            <div class="span10">
              <div class="container" ng-controller="listTorrentCtrl">
                Search: <input ng-model="query">
                Sort by : <select ng-model="order" ng-options="o.name for o in orders"></select>
                <button type="button" class="btn btn-primary" ng-click="Desc=!Desc">Desc</button>
                <br />
                Nombre total de dl : {{downloads.length}}
                <ul>
                    <li ng-repeat="download in downloads | filter:filtre | filter:query | orderBy:order.value:Desc">
                        <h1>{{download.name}} </h1><br />
                        <div class="progress {{download.bar_status}} ">
                            <div class="bar {{download.bar_type}}" style="width: {{download.bar}}%;">{{download.bar}}%</div>
                        </div>
                        taille : {{download.size_tot}} <br />
                        taille dl : {{download.size_dl}} <br />
                        Date d'ajout : {{download.date_ajout}} <br />
                        Status : {{download.status}} <br />
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
