        <div class="page-container" ng-controller="loginCtrl">
            <img src="./img/logo.png" width="350" height="257"/>
            <form action="" method="post">
                <input type="text" name="username" class="username" placeholder="Username" ng-model="login">
                <input type="password" name="password" class="password" placeholder="Password" ng-model="pwd">
                <button type="submit" ng-click="connect(login,pwd)">Connexion</button>
            </form>
            {{error}}
        </div>