.titre {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.progress {
	margin-top: 5px;
}

.pair {
	background: #E8EDFF;
}

.pair, .impair {
	padding: 1px 20px;
}

body {
	background-image: url('./img/bg.png');
}

.navbar .brand {
    padding: 0;
}

.add .ng-scope {
	display: inline-block;
}